p
  | Hover for hints!
  .content(style='width: 300px')
    .hintable
      | Bark
      span.hint (logs)
      |  burned for heat,
    .hintable
      | where brothers
      span.hint (of PKT)
      |  feast.
    .hintable Bark at
      span.hint -- rather, pull at --
      |  the first
      span.hint (of two)
      |  lady's rack,
    .hintable
      | To see what's
      span.hint (literally)
      | behind her back.

  p PS: The answer is what you find behind her back!
