p
  a(href='/static/img/comptine.mov', target='_blank') It's time for a musical puzzle!
p
  | Complete the ukulele chords for the last line of 
  strong Happy Birthday in Fmaj
  | :
div
  .chord
    span.hintable Ha-ppy
      span.hint (Bb maj)
    table
      tbody
        tr
          td
            input#c1-a(type='radio', checked)
            label(for='c1-a')
          td
          td
          td
        tr
          td
            input#c1-b(type='radio', checked)
            label(for='c1-b')
          td
          td
          td
        tr
          td
          td
            input#c1-c(type='radio', checked)
            label(for='c1-c')
          td
          td
        tr
          td
            input#c1-1(type='radio', name='chord1', value='Ab')
            label(for='c1-1')
          td
            input#c1-2(type='radio', name='chord1', value='A')
            label(for='c1-2')
          td
            input#c1-3(type='radio', name='chord1', value='B')
            label(for='c1-3')
          td
            input#c1-4(type='radio', name='chord1', value='Cb')
            label(for='c1-4')
    span.note &nbsp;

  .chord
    span.hintable birth-day
      span.hint (F maj)
    table
      tbody
        tr
          td
          td
          td
          td
        tr
          td
            input#c2-b(type='radio', checked)
            label(for='c2-b')
          td
          td
          td
        tr
          td
          td
          td
          td
        tr
          td
            input#c2-1(type='radio', name='chord2', value='Ab')
            label(for='c2-1')
          td
            input#c2-2(type='radio', name='chord2', value='A')
            label(for='c2-2')
          td
            input#c2-3(type='radio', name='chord2', value='B')
            label(for='c2-3')
          td
            input#c2-4(type='radio', name='chord2', value='Cb')
            label(for='c2-4')
    span.note &nbsp;


  .chord
    span.hintable to
      span.hint (C maj)
    table
      tbody
        tr
          td
          td
          td
            input#c3-a(type='radio', checked)
            label(for='c3-a')
          td
        tr
          td
          td
          td
          td
        tr
          td
          td
          td
          td
        tr
          td
          td
          td
          td

    span.note.none &nbsp;

  .chord
    span.hintable youuuuu!
      span.hint (F maj)
    table
      tbody
        tr
          td
          td
          td
          td
        tr
          td
            input#c4-b(type='radio', checked)
            label(for='c4-b')
          td
          td
          td
        tr
          td
          td
          td
          td
        tr
          td
            input#c4-1(type='radio', name='chord4', value='Ab')
            label(for='c4-1')
          td
            input#c4-2(type='radio', name='chord4', value='A')
            label(for='c4-2')
          td
            input#c4-3(type='radio', name='chord4', value='B')
            label(for='c4-3')
          td
            input#c4-4(type='radio', name='chord4', value='Cb')
            label(for='c4-4')
    span.note &nbsp;

p PS: Hover over the lyrics for a hint!
