.content(style='width: 800px')
  | Dear Annie,
  p
    | I need your help! A cow, inspired by that silly children's nursery rhyme, tried to jump over me.
    | He didn't quite make it over, ... so now he's just chilling in my curves (not that I actually have curves since it's merely an illusion created by the sun's radiance.... but I digress.)
  p
    | If you could come find me and get this cow off my back, that would be great! I'm in outer space, which is kind of big and dark, so here's my address: 
    a(href='http://moo.psyph.com') moo.psyph.com
    | . I've left you an Athena terminal to help you on your journey. Here are some tools that you might find useful:
  .content
    p
      | Use 
      span.pre dig
      |  to find the real hostname of the machine.
    p
      | Use 
      span.pre moira
      |  (machine, show) to look up a machine.

  p This is our most desperate hour. Help me, Annie Tang. You're my only hope.
  p Sincerely,
  p the Moon.
  div(style='margin: 0 100px')
    iframe(src='https://athena.dialup.mit.edu/shell/', width='100%', height='500px')

  p PS: The answer is on the cow's tag!
