doctype 5
html(lang='en')
  head
    title The Great (yet very late) Birthday Scavenger Hunt!
    link(rel='stylesheet', href=url_for('static', filename='css/moo.css'))
    script(data-main='/static/js/main', src=url_for('static', filename='lib/require.js'))
  body
    div#sky
      h1 The Great (yet very late) Birthday Scavenger Hunt!
      table
        thead
          tr
            th.lvl Level
            th.lvl-name Name
            th.lvl-answer Answer
        tbody
          tr
            td Loading...
            td
            td
    #puzzle
      h2.title
      .content
