doctype 5
html(lang='en')
  head
    title The Great Birthday Scavenger Hunt!
    link(rel='stylesheet', href=url_for('static', filename='css/moo.css'))
  body
    div#ground
      div#sky
        h1 The Great Birthday Scavenger Hunt!
        table
          thead
            tr
              th.lvl Level
              th.lvl-name Name
              th.lvl-answer Answer
          tbody
            tr
              td Level 1
              td Hey diddle, diddle
              td
                input(type='text', maxlength='1')
                input(type='text', maxlength='1')
            tr
              td Level 2
              td The Cat and the fiddle,
              td
                input(type='text', maxlength='1')
                input(type='text', maxlength='1')
                input(type='text', maxlength='1')
      div#puzzle
        h2 LEVEL 3 : THE COW JUMPED OVER THE MOON
        p
          | Hi, There’s this cow that tried to jump over me, and failed.... and he’s kinda just chilling in my curves (not that I actually have curves since its just an illusion created by the sun’s illumination)... but I digress. If you could come find me and get this cow off my back, that’d be greeeeaat. Outer space is kind of big... it’s pretty dark where I am, but I’m pretty sure I’m at moo.psyph.com. Please find me! Sincerely, the Moon.



