@import url('http://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('http://fonts.googleapis.com/css?family=The+Girl+Next+Door');
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #216734;}

h1, h2 {
	text-transform: uppercase;
	margin: 0;
	font-family: 'The Girl Next Door' , cursive;}

h2 {
	font-family: 'Pathway Gothic One' , sans-serif;
	margin-bottom: 5px;}

h1 {
	font-size: 16px;}

#puzzle {
	padding: 10px;
	position: relative;
	z-index: 5;
	font-family: 'Pathway Gothic One' , sans-serif;}

#puzzle .content {
	padding: 20px;
	background-color: rgba(255,255,255,0.10);
	position: relative;}

#sky {
	background-color: #101342;
	padding: 10px;
	font-family: Arial;
	color: #fff;
	position: relative;
	z-index: 10;}

#sky table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Pathway Gothic One' , sans-serif;
	font-size: 17px;}

#sky table th {
	text-align: left;}

#sky table th.lvl {
	width: 20%;}

#sky table th.lvl-name {
	width: 50%;}

#sky table th.lvl-answer {
	width: 30%;}

#sky table tbody tr:hover {
	background-color: #20297f;}

#sky table td, #sky table th {
	padding-left: 5px;}

#sky table tr {
	height: 2em;
	border-bottom: 1px solid #fff;
	-webkit-user-select: none;
	cursor: pointer;}

#sky table tbody td:first-child {
	text-transform: uppercase;}

#sky table tbody td:nth-child(2) {
	font-family: 'The Girl Next Door' , cursive;
	font-size: 16px;}

#sky table input {
	border-radius: 13px;
	border: 2px solid #fff;
	width: 25px;
	height: 25px;
	outline: none;
	margin: 1px;
	text-align: center;}

#sky table input:focus {
	background: #f8f5bb !important;}

#sky table input:focus.normal-key,  #sky table input:focus.meta-key {
	color: #101342;}

#sky table input.normal-key {
	background: none;
	color: #fff;}

#sky table input.meta-key {
	background: #fff;
	color: #101342;}

#sky table button {
	float: right;
	border: 2px solid #1e1e6f;
	height: 25px;
	border-radius: 2px;
	background-color: #274baa;
	outline: none;
	text-transform: lowercase;
	margin-top: 3px;
	margin-right: 15px;
	cursor: pointer;}

#sky table button:hover {
	background-color: #4064c5;}

#sky table button:active {
	background-color: #0f2a74;}

#sky table tr.solved button {
	display: none;}

.bg {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: -1;}

.bg img {
	display: block;}

