@import url('http://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('http://fonts.googleapis.com/css?family=The+Girl+Next+Door');
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #216734;}

h1, h2 {
	text-transform: uppercase;
	margin: 0;
	font-family: 'The Girl Next Door' , cursive;}

h2 {
	font-family: 'Pathway Gothic One' , sans-serif;}

h1 {
	font-size: 16px;}

#puzzle {
	padding: 10px;}

#sky {
	background-color: #101342;
	padding: 10px;
	font-family: Arial;
	color: #fff;}

#sky table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Pathway Gothic One' , sans-serif;
	font-size: 17px;}

#sky table th {
	text-align: left;}

#sky table th.lvl {
	width: 20%;}

#sky table th.lvl-name {
	width: 50%;}

#sky table th.lvl-answer {
	width: 30%;}

#sky table tbody tr:hover {
	background-color: #20297f;}

#sky table td, #sky table th {
	padding-left: 5px;}

#sky table tr {
	height: 2em;
	border-bottom: 1px solid #fff;
	-webkit-user-select: none;
	cursor: pointer;}

#sky table tbody td:first-child {
	text-transform: uppercase;}

#sky table tbody td:nth-child(2) {
	font-family: 'The Girl Next Door' , cursive;
	font-size: 16px;}

#sky table input {
	border-radius: 13px;
	border: 2px solid #fff;
	width: 25px;
	height: 25px;
	outline: none;
	margin: 1px;
	text-align: center;}

#sky table input:focus {
	background: #f8f5bb !important;}

#sky table input.normal-key {
	background: none;
	color: #fff;}

#sky table input.meta-key {
	background: #fff;
	color: #101342;}

#sky table tr.solved button {
	display: none;}

